---
export interface Props {
  title?: string;
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{Astro.props.title || "NestleIn"}</title>
    <link rel="stylesheet" href="/styles/tailwind.css" />
  </head>
  <body class="bg-orange-50 text-gray-800 font-sans">
    <main class="max-w-4xl mx-auto px-4 py-10 space-y-10">
      <slot />
    </main>
  </body>
</html>
